# TODO: Input checkings
if [[ $EUID -ne 0 ]]; then
   echo "Altought not necessary for a normal configuration, this script can ask for sudo permission for certain steps, fell free to deny."   
fi
if [ -d ".data" ]; then
    read -p ".data directory exists. Do you want to delete it? (y/n) " yn
    case $yn in
	# TODO: Change outputs if "y" selected but then canceled sudo elevation.
        [Yy]* ) sudo rm -rf .data; echo ".data directory deleted."; mkdir .data&&mkdir .data/bitping; echo "new .data file created";;
	[Nn]* )
        if [ ! -d ".data/bitping" ]; then
            mkdir .data/bitping
        fi;;
	* ) echo "Please answer yes or no.";;
    esac
else
    mkdir .data&&mkdir .data/bitping
    echo ".data directory created."
fi
if [ -f ".env" ]; then
    read -p ".env directory exists. Do you want to delete it? (y/n) " yn
    case $yn in
	# TODO: Change outputs if "y" selected but then canceled sudo elevation.
        [Yy]* ) sudo rm -rf .env; cat template.env > .env;  echo "new .env file created.";;
        [Nn]* ) ;;
        * ) echo "Please answer yes or no.";;
    esac
else
    cat template.env > .env
    echo ".env file created."
fi
read -p "Update device name? (y/n) " yn 
case $yn in
    [Yy]* ) read -p "Enter the new device name: " newDeviceName; sed -i "s/^DEVICE_NAME=.*/DEVICE_NAME=$newDeviceName/" .env;;
    [Nn]* ) ;;
esac
read -p "Update HoneyGain credentials? (y/n) " yn 
case $yn in
    [Yy]* ) read -p "Enter your HONEYGAIN email: " newHoneygainEmail; read -p "Enter your HONEYGAIN password: " newHoneygainPassword; sed -i "s/^HONEYGAIN_EMAIL=.*/HONEYGAIN_EMAIL=$newHoneygainEmail/" .env; sed -i "s/^HONEYGAIN_PASSWD=.*/HONEYGAIN_PASSWD=$newHoneygainPassword/" .env;;
    [Nn]* ) ;;
esac
read -p "Update Pawns credentials? (y/n) " yn 
case $yn in
    [Yy]* ) read -p "Enter your IPROYALPAWNS email: " newIpRoyalPawnsEmail; read -p "Enter your IPROYALPAWNS password: " newIpRoyalPawnsPassword; sed -i "s/^IPROYALPAWNS_EMAIL=.*/IPROYALPAWNS_EMAIL=$newIpRoyalPawnsEmail/" .env; sed -i "s/^IPROYALPAWNS_PASSWD=.*/IPROYALPAWNS_PASSWD=$newIpRoyalPawnsPassword/" .env;;
    [Nn]* ) ;;
esac
read -p "Update Bitping credentials? (y/n) " yn 
case $yn in
    [Yy]* ) read -p "Enter your BITPING email: " newBitpingEmail; read -p "Enter your BITPING password: " newBitpingPassword; sed -i "s/^BITPING_EMAIL=.*/BITPING_EMAIL=$newBitpingEmail/" .env; sed -i "s/^BITPING_PASSWD=.*/BITPING_PASSWD=$newBitpingPassword/" .env;;
    [Nn]* ) ;;
esac
echo "Values updated in .env file."
source ./.env
echo "Configuring bitping."
docker run --rm --mount type=bind,source="$(pwd)"/.data/bitping,target=/root/.bitpingd --entrypoint /app/bitpingd bitping/bitpingd:latest login --email ${BITPING_EMAIL} --password ${BITPING_PASSWD}
echo "Mysterium nodes have a different setup. To claim your node go to localhost:$MYSTNODE_DASHBOARD_PORT"
sleep 1
